<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width =device-width">
    <title>TDD Story</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
    <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>

  </head>
  <body>

   <header class="text-center py-5 mb-4">
     <div class="container">
       <h1 class="font-weight-light text-black">Testing</h1>
     </div>
   </header>



   <div class="container">

         <div class="row">

           <form method="post" class="box">
             {% csrf_token %}
             <div class="form-group shadow-textarea">
               <!-- <textarea class="form-control z-depth-1" rows="5" placeholder="Write something here...">{{ feedback }}</textarea> -->
               <h5 class="font-weight-light text-black">Halo, Apa Kabar</h5>
               {% for field in form %}
               {{field}}
               {% endfor %}

               <!-- <input type="submit" class="btn btn-primary float-right" value="Add"> -->
             </div>
             <button type="submit" name="button">Send</button>

           </form>
         </div>

         <hr>

         <div class="row">

           <div class="article">
               <a href="{% url 'test:tdd' %}"></a>
               <div class="article">

                       {% for greeting in list_greeting %}
                           <div class="kotak">
                               <h5 id = 'respon'>{{ greeting.greet }} | {{ greeting.date }}</h5>
                           </div>
                       {% endfor %}
                   </div>
               </div>
           </div>

         </div>





</body>


</html>
